<!doctype html>
<html lang="en">
  <head>
    <title>Practice</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
      <a class="navbar-brand" href="home?uid=<%= userID %>" style="font-size:40px ;font-family: 'Permanent Marker'; text-shadow: 3px 3px #2e2d2d;">Quizrr...</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" style="color: white; opacity: 100%; font-family: 'Righteous';" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if(userID=='null'){ %>
              <a class="dropdown-item" href="signup">Register</a>
              <% } %>
              <% if(userID!='null') {%>
                <a class="dropdown-item" href="myquizes?uid=<%= userID %> ">My quizes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="home">Sign out</a>
              <% } %>
            </div>
          </li>
        </ul>
        </form>
      </div>
    </nav>

    <div class="col">
      <div class="row">
        <a class="col m-4 btn btn-outline-success catag " href="quiz?uid=<%= userID %>&type=0">
          <h3 class="body-font text-dark mt-1">Random quiz</h3>
        </a>
      </div>

      <% var color=['primary','secondary','warning','danger','success','secondary','dark','danger','primary','warning','success','danger'] %> 
      <% var title=['General Knowlwdge','Entertainment: Books','Entertainment: Film','Entertainment: Music','Entertainment: Musicals & Theatres','Entertainment: Television','Entertainment: Video Games','Entertainment: Board Games','Science: Nature','Science: Computers','Science: Mathematics','Mythology','Sports','Geography','History','Politics','Art','Celebreties','Animals','Vehicles','Entertainment: Comics','Science and Gadget','Anime & Manga','Cartoon & Animations'] %> 

      <% for(var i=9;i+3<33;i+=4){ %> 

      <div class="row">
        <a class="col m-4 bg-<%= color[Math.floor(Math.random()*12)] %>  catag " href="quiz?uid=<%= userID %>&type=<%= i+0 %> ">
          <h3 class="body-font text-light mt-1"><%= title[i-9] %></h3>
        </a>

        <a class="col m-4 bg-<%= color[Math.floor(Math.random()*12)] %> catag " href="quiz?uid=<%= userID %>&type=<%= i+1 %>">
          <h3 class="body-font text-light mt-1"><%=title[i-9+1] %></h3>
        </a>

        <a class="col m-4 bg-<%= color[Math.floor(Math.random()*12)] %> catag " href="quiz?uid=<%= userID %>&type=<%= i+2 %>">
          <h3 class="body-font text-light mt-1"><%= title[i-9+2] %></h3>
        </a>

        <a class="col m-4 bg-<%= color[Math.floor(Math.random()*12)] %> catag " href="quiz?uid=<%= userID %>&type=<%= i+3 %>">
          <h3 class="body-font text-light mt-1"><%=title[i-9+3]%></h3>
        </a>

      </div>

      <% } %> 
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase.js"></script>


    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./logic/logic.js"></script>

  </body>
</html>
