<!doctype html>
<html lang="en">
  <head>
    <title>Quizrr...</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand" href="home?uid=<%= userID %>" style="font-size:40px ;font-family: 'Permanent Marker'; text-shadow: 3px 3px #2e2d2d;">Quizrr...</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" style="color: white; opacity: 100%; font-family: 'Righteous';" aria-expanded="false">
                Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if(userID=='null'){ %>
                <a class="dropdown-item" href="signup">Register</a>
                <% } %>
                <a class="dropdown-item" href="myquizes?uid=<%= userID %>">My quizes</a>
                <% if(userID!='null') {%>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/home">Sign out</a>
                <% } %>
              </div>
            </li>
          </ul>
          </form>
        </div>
    </nav>

    <ul>
      <li>This set has 10 questions.</li>
      <li>Positive marking:4 marks</li>
      <li>Negative marking:1 marks</li>
      <li>Once submitted answers can not be changed or resubmitted for evaluation</li>
      <li>After submittion, your questions along with correct answers and the result will be saved. You can check  <a href="myquizes?uid=<%= userID %>">here</a>.</li>
    </ul>
    <hr>
    <ol>
      <% const quizData= JSON.parse(data);
      const question=quizData.question;
      const options=quizData.options;
      const answers=quizData.answers;

      var isSubmitted=false;
        for(var i=0;i<10;i++){ %>
        <li class="quizModel">
          <div class="col">
            <div class="row">
              <%= question[i] %>
            </div>
            <div class="row">
              <% for(var j=0;j<4;j++){ %>
              <div class="col">
                <label class="radio-inline"><input id="option<%=(i*4+j);%>" type="radio" value="<%=j %>" name="radio<%=(i);%>" > <%= options[i*4+j] %> </label>
              </div>
              <% } %>
            </div>
          </div>
        </li>
      <% } %>  
    </ol>

   <div style="width: max-content; margin: auto; margin-bottom: 3%;">
    <button id="submitQuiz" type="button" class="btn btn-outline-warning btn-lg" data-toggle="modal" data-target="#exampleModal"  style="font-family: 'Righteous';"> Submit</button>
    </div>


    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"     aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Your Score</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="Quizmodal" class="modal-body">
            <ul>
              <li id="attempt" class="text-dark" style="font-family: 'Righteous';" ></li>
              <li id="correct" class="text-success" style="font-family: 'Righteous';" ></li>
              <li id="wrong" class="text-danger" style="font-family: 'Righteous';" ></li>
              <li id="score" class="text-primary" style="font-family: 'Righteous';" ></li>
            </ul>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div id="dataDiv" ><%= data %></div>
    <div id="dataDiv2" ><%= userID %></div>
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>


    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./logic//quizLogic.js"></script>
  </body>
</html>